{% extends 'member/base.html' %}
{% load static %}


{% block title %}
<title>HOME</title>
{% endblock %}


{% block content %}
<header>
    <h1><a href="{% url 'contents:home' %}" id="title">전국 축제</a></h1>
    <div id="sign">
    {% if request.session.user %}
    {{request.session.user}} 님 안녕하세요
    <a href="{% url 'members:signout' %}" class="btn btn-primary">로그아웃</a>
    
    {% else %}
    <a href="{% url 'members:signin' %}" class="btn btn-primary">로그인</a>
    {% endif %}
    </div>
</header>    
    {% if request.session.user %}
    <ul class="container">
    
    {% for row in rows %}
        <li class="item">
          <a href="">
            
            {% for ro in row %}
            
            {% if 'https://' in ro %}
            <img src='{{ ro }}'>
            {% else %}
            <br>
            <p id="spotname">{{ ro }}</p>
            {% endif %}
        
            {% endfor %}
          </a>
        </li>
    {% endfor %} 
    </ul>   
    {% endif %}

    


    
{% endblock %}

