{% extends 'member/base.html' %}
{% load static %}


{% block title %}
<title>HOME</title>
{% endblock %}


{% block content %}
{% if request.session.user %}
    <p class="wow">{{request.session.user}} 님 안녕하세요</p>
    <br>
    <a href="{% url 'members:signout' %}" class="btn btn-primary">로그아웃</a>
    <br>
    <div class="parent">
        
    {% for row in rows %}
        <div class="child">
        {% for ro in row %}
        
            {% if 'https://' in ro %}
            <img class="myimage" src='{{ ro }}'></p>
            {% else %}
            {{ ro }}
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %} 
    </div>

    

{% else %}
    <a href="{% url 'members:signin' %}" class="btn btn-primary">로그인</a>
{% endif %}
    
{% endblock %}

