{% extends 'member/base.html' %}

{% block title %}

<title>Search</title>

{% endblock %}

{% block content %}

<script>
function getSelectValue(frm){
    
    frm.PlaceValue.value = frm.place.options[frm.place.selectedIndex].value;
    frm.YearValue.value = frm.ye.options[frm.ye.selectedIndex].value;
    frm.MonthValue.value = frm.month.options[frm.month.selectedIndex].value;
    
    
};


</script>
{% if request.session.user %}
<form name="mForm" method="POST" >
    {% csrf_token %}

<select class="place" id="place" name= "place"  >
    <option value="" >지역</option>
    {% for search in searchs %}
    <option value="{{ search }}">{{ search }}</option>
    {% endfor %}
    
</select>

<select class="ye" id="ye" name= "ye" >
    <option value="">연도</option>
    {% for year in years %}
    <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
</select>

<select class="month" id="month" name= "month" >
    <option value="">월</option>
    {% for month in monthes %}
    <option value="{{ month }}">{{ month }}</option>
    {% endfor %}
</select>
<!--
<input type="hidden" name="PlaceValue" id="PlaceValue">
<input type="hidden" name="YearValue" id="YearValue">
<input type="hidden" name="MonthValue" id="MonthValue">
-->
<button type="submit">검색</button>
</form>
{% else %}
<p>없음</p>
{% endif %}

{% endblock %}