{% extends 'member/base.html' %}


{% block title %}
<title>로그인</title>
{% endblock %}

{% block content %}

<form method="POST" action=".">
    {% csrf_token %}
    <div class=form-group>
        <label for="userid">UserID</label>
        <input
        type="text"
        class="form-control"
        id="userid"
        placeholder="username"
        name="userid"
        />
    </div>
    <div class=form-group>
        <label for="password">Password</label>
        <input
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
        name="password"
        />
    </div>
    <button type="submit">로그인</button>
    
    <div class="row mt-5">
        <div class="col-12">
            {{error}}
        </div>
    </div>
</form>
<a href="{% url 'members:signup' %}" class="btn btn-primary">회원가입</a>

{% endblock %}